*{
    background-color: white;
    box-sizing: border-box;
  }

  h1{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(22, 5, 91);
    font-size: 40px;
    font-style: italic;
  }

  h2{
    font-family: 'Courier New', Courier, monospace;
    color:darkblue;
    font-size: 25px;
    font-style: bold;
  }

  a{
    margin: 10px;
  }
  
  a:hover{
    opacity: 50%;
  }
    
  .header-conteudo{
    text-align: center;
  }
  
  .main-conteudo{
    text-align: center;
    color: black;
    font-size: 20px;
  }
  
  .main-conteiner{
    display: block;
    width: 60%;
    margin: auto;    
  }
  
  .footer-principal{
    display: block;
    width: 40%;
    margin: auto;
    background-color: gray;
  }

  .footer-conteudo{
    text-align: center;        
  }

  
  /* Clear floats after the columns */
  .row:after{
    content: "";
    display: table;
    clear: both;
  }

  /* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 70%;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  text-align: justify;    
}

.column-imagem {
  float: left;
  width: 30%;
  padding: 10px;  
  align-items: center;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  text-align: right;
}

  .tabela-contato{
    border-top: 3px solid darkblue;
    border-bottom: 3px solid darkblue;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .td-log{
    text-align: center
  }
